.App {
  text-align: center;
  background-color: rgb(139, 220, 245);
}

.form{
  width: 450px;
}
.footer{
  
  background-color: white;
  margin: 5%;
}
.cardform{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}
.table{
  background-color: antiquewhite;
}